# ───────────────
# 📦 Dependencies
# ───────────────
/node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# ───────────────
# 🧪 Testing
# ───────────────
coverage/
/test

# ───────────────
# 🔧 Build output
# ───────────────
/.next/
/out/
/build
dist/

# ───────────────
# 🧹 Unused from drei
# ───────────────
drei/examples/
drei/benchmarks/
drei/storybook/
drei/.storybook/

# ───────────────
# 💻 OS / Editor
# ───────────────
.DS_Store
.idea/
.vscode/

# ───────────────
# 🌐 Env
# ───────────────
.env
.env*.local

# ───────────────
# ⚠️ Logs
# ───────────────
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ───────────────
# 📦 TypeScript
# ───────────────
*.tsbuildinfo
next-env.d.ts
types/stats.d.ts

# ───────────────
# 🔐 Secrets
# ───────────────
*.pem

# ───────────────
# Vercel
# ───────────────
.vercel/
